@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .headingXL {
        font-family: "Inter", sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.1;
        color: #253347;
    }

    .headingL {
        font-family: "Inter", sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.1;
        color: #253347;
    }
    .headingM {
        font-family: "Inter", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.1;
        color: #253347;
    }
    .headingS {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.1;
        color: #253347;
    }

    .body {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        color: #253347;
        line-height: 1.5;
    }
    .bodyBold {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #253347;
        line-height: 1.5;
    }
    .bodyS {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        color: #253347;
        line-height: 1.5;
    }
}
